name: 'Ash'

filetypes: [
    "ash"
]

scopeName: 'source.ash'

patterns : [
    {
        'match': '(public) | (private) | (protected) | (static) | (final) | (required) | (native) | (override) | (standard)'
        'name': 'constant.numeric.integer.hexadecimal.python'
    }

    {
        'match': '(var) | (const) | (func) | (class) | (protocol) | (namespace) | (enum) | (import) | (return)'
        'name': 'constant.numeric.integer.hexadecimal.python'
    }
]
